/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/9/2014
* Sass Version by Seth Coelen https://github.com/whatsnewsaes
*/

.skel-container {
  position: relative;
  width: 100%;
  max-width: $container-width;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.skel-column,
.skel-columns {
  width: 100%;
  float: left;
  box-sizing: border-box;
}

// For devices larger than 400px
@media (#{$bp-larger-than-mobile}) {
  .skel-container {
    width: $container-width-larger-than-mobile;
    padding: 0;
  }
}

// For devices larger than 550px
@media (#{$bp-larger-than-phablet}) {
  .skel-container {
    width: $container-width-larger-than-phablet;
  }
  .skel-column,
  .skel-columns {
    margin-left: $column-margin;
  }
  .skel-column:first-child,
  .skel-columns:first-child {
    margin-left: 0;
  }

  .skel-one.skel-column,
  .skel-one.skel-columns          { width: grid-column-width(1);  }
  .skel-two.skel-columns          { width: grid-column-width(2);  }
  .skel-three.skel-columns        { width: grid-column-width(3);  }
  .skel-four.skel-columns         { width: grid-column-width(4);  }
  .skel-five.skel-columns         { width: grid-column-width(5);  }
  .skel-six.skel-columns          { width: grid-column-width(6);  }
  .skel-seven.skel-columns        { width: grid-column-width(7);  }
  .skel-eight.skel-columns        { width: grid-column-width(8);  }
  .skel-nine.skel-columns         { width: grid-column-width(9);  }
  .skel-ten.skel-columns          { width: grid-column-width(10); }
  .skel-eleven.skel-columns       { width: grid-column-width(11); }
  .skel-twelve.skel-columns       { width: 100%; margin-left: 0;  }

  .skel-one-third.skel-column     { width: grid-column-width(4);  }
  .skel-two-thirds.skel-column    { width: grid-column-width(8);  }

  .skel-one-half.skel-column      { width: grid-column-width(6);  }


  // Offsets
  .skel-offset-by-one.skel-column,
  .skel-offset-by-one.skel-columns       { margin-left: grid-offset-length(1);  }
  .skel-offset-by-two.skel-column,
  .skel-offset-by-two.skel-columns       { margin-left: grid-offset-length(2);  }
  .skel-offset-by-three.skel-column,
  .skel-offset-by-three.skel-columns     { margin-left: grid-offset-length(3);  }
  .skel-offset-by-four.skel-column,
  .skel-offset-by-four.skel-columns      { margin-left: grid-offset-length(4);  }
  .skel-offset-by-five.skel-column,
  .skel-offset-by-five.skel-columns      { margin-left: grid-offset-length(5);  }
  .skel-offset-by-six.skel-column,
  .skel-offset-by-six.skel-columns       { margin-left: grid-offset-length(6);  }
  .skel-offset-by-seven.skel-column,
  .skel-offset-by-seven.skel-columns     { margin-left: grid-offset-length(7);  }
  .skel-offset-by-eight.skel-column,
  .skel-offset-by-eight.skel-columns     { margin-left: grid-offset-length(8);  }
  .skel-offset-by-nine.skel-column,
  .skel-offset-by-nine.skel-columns      { margin-left: grid-offset-length(9);  }
  .skel-offset-by-ten.skel-column,
  .skel-offset-by-ten.skel-columns       { margin-left: grid-offset-length(10); }
  .skel-offset-by-eleven.skel-column,
  .skel-offset-by-eleven.skel-columns    { margin-left: grid-offset-length(11); }


  .skel-offset-by-one-third.skel-column,
  .skel-offset-by-one-third.skel-columns  { margin-left: grid-offset-length(4);  }
  .skel-offset-by-two-thirds.skel-column,
  .skel-offset-by-two-thirds.skel-columns { margin-left: grid-offset-length(8);  }

  .skel-offset-by-one-half.skel-column,
  .skel-offset-by-one-half.skel-column   { margin-left: grid-offset-length(6);  }


}

// Clearing
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Self Clearing Goodness

.skel-container:after,
.skel-row:after,
.skel-u-cf {
  content: "";
  display: table;
  clear: both;
}
