@import "./style.scss";

body {
  background-color: #53beac;
  background: url('/img/kazuend-40010-unsplash_teal.jpg');
  background-size: cover;
}

.app {
  min-height: 100%;
  max-width: 768px;
  margin: 0 auto;
  padding: 20px;
  background: #f0eeeb;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.15);
  background-image: url("/img/roborobin.png");
  background-size: 90px;
  background-repeat: no-repeat;
  background-position: 10px 10px;
}

@media (min-width: 768px) {
  .app {
    padding: 50px;
    background-size: 160px;
  }
}

.instructions {
  padding: 0 0 0 20px;
  margin: 0 0 40px;
}

button {
  font-family: 'Merienda One', cursive;
  font-weight: normal;
  padding: 0.7rem 1.5rem;
  background-color: $white;
  color: black;
  border-radius: 6px;
  font-size: 1.5rem;
  line-height: 1;
  /*text-shadow: 0 1px 3px rgba(36, 36, 36, 1);*/
  box-shadow: 0 2px 3px rgba(50, 50, 93, .11), 0 1px 2px rgba(0, 0, 0, .08);
  transition: all .15s ease;
  outline: none;
  position: relative;

  &[disabled] {
    background: $white-disabled;
    color: black;
  }

  .btn-text {
    margin-right: 10px;
  }

  .btn-icon {
    position: absolute;
    font-size: 2.3rem;
    text-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
    &--correct {
      top: -10px;
      animation: wigglePos 2.5s infinite;
    }
    &--incorrect {
      top: 21px;
      animation: wiggleNeg 2.5s infinite;
    }
  }

  &:hover {
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
  }

  &:active {
    transform: translateY(1px);
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
  }

  &:focus {
    box-shadow: 0 2px 3px rgba(0, 130, 255, .8), 0 1px 3px rgba(0, 130, 255, .8);
  }
}

footer {
  margin-top: 100px;
}

@keyframes wigglePos {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(0deg); }
  20% { transform: rotate(5deg); }
  30% { transform: rotate(-5deg); }
  40% { transform: rotate(0deg); }
  50% { transform: rotate(-5deg); }
  70% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}

@keyframes wiggleNeg {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(0deg); }
  12% { transform: rotate(5deg); }
  15% { transform: rotate(-5deg); }
  18% { transform: rotate(5deg); }
  20% { transform: rotate(-5deg); }
  25% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}