@import "../App/variables.scss";

.setup-add {
  margin: 0 0 40px;

  /*
  &:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
  */

  .h3 {
    margin: 0 10px 0 0;
    display: block;
    vertical-align: middle;
  }

  input {
    padding: 10px;
    border-radius: 8px;
    border-color: transparent;
    border-width: 4px;
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .3);
    margin: 1rem 0;
    font-size: 1rem;
    vertical-align: middle;
    width: 100%;
  }

  input[disabled] {
    background: #ddd;
    border: solid 4px white;
  }

  .setup-message {
    margin: 0;
  }

  .setup-flex {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: 768px) {
    .setup-flex {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
    input {
      width: calc(100% - 180px)
    }
  }

}

.setup-play {
  margin: 0;
  .btn-play {
    margin: 0 10px 0 0;
  }
}

.text-icon {
  padding-left: 10px;
}