// Utilities
//––––––––––––––––––––––––––––––––––––––––––––––––––

.skel-u-full-width {
  width: 100%;
  box-sizing: border-box;
}

.skel-u-max-full-width {
  max-width: 100%;
  box-sizing: border-box;
}

.skel-u-pull-right {
  float: right;
}

.skel-u-pull-left {
  float: left;
}
