.species-list--wrapper {
  text-align: center;

  h2 {
    margin-bottom: 20px;
  }
}

.species-list {
  display: inline-block;
  text-align: left;
  margin-top: 0;
  margin-bottom: 20px;
  padding: 0;

  li {
    list-style: none;
    text-transform: capitalize;
    font-size: 1.2rem;
  }

  .btn-list-remove {
    padding: 0;
    margin: 0 8px;
    background: transparent;
    border: 0;
    color: #9c0000;
    box-shadow: none;
  }
}

@media (min-width: 768px) {
  .species-list {
    margin: 0 15% 20px 15%;
  }
}